<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>city_form</title>
</head>
<body>
<h1>Cредняя зарплата по данным HH </h1>
<ul>
    <li>
        город: {{data['city']}}
    </li>
    <li>
        профессия: {{data['prof']}}
    </li>
    <li>
        зарплата от {{data['salary_from']}}
    </li>
    <li>
        зарплата до {{data['salary_to']}}
    </li>
</ul>
<ul>
 <li>
        <a href='main'> на главную страницу</a>
    </li>
    <li>
        <a href='city_form'> на страницу формы</a>
    </li>
    <li>
        <a href='contacts'> контакты </a>
    </li>
</ul>
</body>