<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hands to db</title>
</head>
<body>
<form action = '/hands_to_db_rec' method = 'post'>
    <h1>я хочу работать в городе</h1>
    <input type = 'text' name = 'City'/>
    <h1>профессия мне нужна такая</h1>
    <input type = 'text' name = 'Prof'/>
    <h1>и чтоб средняя зарплата была от</h1>
    <input type = int name = 'Salary_from'/>
    <h1>и до</h1>
     <input type = int name = 'Salary_to'/>
    <h1></h1>
    <button type = 'submit'>Отправить</button>
</form>
<ul>
    <li>
        <a href='main'> на главную страницу</a>
    </li>
    <li>
        <a href='city_form'> на страницу формы</a>
    </li>
    <li>
        <a href='contacts'> контакты </a>
    </li>
    <li>
        <a href='hands_to_db'> хотелка </a>
    </li>
</ul>
</body>
</html>