<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>
</head>
<body>


<form action = '/city_form' method = 'post'>
    <h1>город</h1>
    <input type = 'text' name = 'city'/>
    <h1>профессия</h1>
    <input type = 'text' name = 'prof'/>
    <h1></h1>
    <button type = 'submit'>Отправить</button>
</form>
<ul>
    <li>
        <a href='main'> на главную страницу</a>
    </li>
    <li>
        <a href='city_form'> на страницу формы</a>
    </li>
    <li>
        <a href='contacts'> контакты </a>
    </li>
</ul>
</body>
</html>